body {
  margin: 0;
}

.left-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.left-menu > li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.left-menu > li a.active {
  background-color: #F37021;
  color: white;
}

.left-menu > li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

table > thead > tr > th{
  text-align: left;
}

.btn{
  border: 1px solid #000;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: #000;
  background-color: #f1f1f1;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

.btn:hover{
  background-color: #555;
  text-decoration: none;
  color: #dadada;
  cursor: pointer;
}

td > .btn{
  border: 0px;
  background-color: transparent;
}

#app-container{
  margin-left:25%;
  padding:1px 16px;
  height:1000px;
  padding-bottom: 30px;
}

.text-center{
  text-align: center;
}

thead > tr > th{
  border: 1px solid black;
}

tbody > tr > td{
  border: 1px solid black;
}

h3{
  color: #F37021;
}